<div class="food_list container">
  <div class="row checkout_button justify-content-end sticky-top py-1 bg-white">
    <div *ngIf="!res && isCheckout" class=" col-auto btn btn-dark float-right" (click)='checkout()'>Checkout</div>
    <div *ngIf="isModify" class=" col-auto btn btn-dark float-right" (click)='updateStatus()'>Update Status</div>
  </div>
  <div *ngIf='foodList != null && foodList != undefined && foodList.length > 0' class="list row justify-content-center">
    <div *ngFor='let food of foodList; trackBy: trackByFn' class="food_item col-md-10 col-lg-8 px-3 py-2 m-2 border rounded bg-light justify-content-center align-items-center">
        <div class="row align-items-center ">
          <div class="col-1 py-2">
            <img calss='image_type' width="30px" height="30px"
              [attr.src]="food.type == 'VEG' ? imageVeg : food.type == 'NON_VEG' ? imageNonVeg : null" />
          </div>
          <div class="col-auto py-2">
            <img class="rounded-lg food_image" width="60px" height="60px"
              [attr.src]='(food.imageId == null || food.imageId == undefined) ? foodImage : foodImages[food.id] | async' />
          </div>
          <span class="col py-2">{{food.name | titlecase}}</span>
          <span class="col-auto py-2">Rs.{{(!isCheckout && !res) ? quantity.value * food.price : food.price}}</span>
          <div class="col-auto py-2" *ngIf="isModify">
            <select class="form-control" name='status' [(ngModel)]="food.status" (change)='alterStatus(food.id, $event.target.value)'>
              <option name='avail' value='AVAILABLE'>Available</option>
              <option name='unavail' value='UNAVAILABLE'>Unavailable</option>
            </select>
          </div>
          <input name='quantity' #quantity='ngModel' type="number" min='0' max='10'
            class="form-control py-2 col-auto quantity" (click)='setTotal()' [(ngModel)]="quantityValues[food.id+'']"
            [ngClass]='{"hide": quantity.value == 0}' />
          <input *ngIf='quantity.value == 0 && !res && isAvailable && food.status == "AVAILABLE"' type="button" class="btn btn-light col-auto py-2"
            (click)='quantityValues[food.id+""] = 1' [attr.disabled] = '(!isAvailable || food.status != "AVAILABLE") ? "" : null' (click)='setTotal()' value="add" />
          <div class="col-auto py-2 text-secondary font-italic" *ngIf= '(food.status == "UNAVAILABLE" && !res) ? true : false'>-NA-</div>
          <div *ngIf="res && isEdit" class='col-auto py-2 delete'>
            <img src='/assets/images/x-mark.svg' width="30px" height="30px" (click)='delete(food)' />
          </div>
          <div *ngIf="res && isEdit" class="col-auto py-2 mx-2 edit btn btn-warning btn-sm" (click)='edit(food)'>edit</div>
        </div>
    </div>
  </div>
  <div *ngIf='foodList == null || foodList == undefined || foodList.length == 0' class="row justify-content-center">
    <span class="col-auto h4">No food available</span>
  </div>
</div>
