.quantity {
  width: 75px;
}

/* .delete, .edit {
  display: none;
}

.food_item:hover .delete, .food_item:hover .edit {
  display: block;
}
 */
.hide {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.food_image {
  /* box-shadow: 0px 1px 5px black !important; */
}
