<div class="container login_page">
  <div class="row h-100 justify-content-center align-items-center login-row ">
    <div class="border shadow align-self-center my-auto
    px-5 py-5 col-sm- 10 col-xl-6 col-lg-7 col-md-9 login">
      <div class="row justify-content-center form-group">
        <div class="h2 col-2">Login</div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)='login()' >
        <div class="row justify-content-center form-group">
          <label class="col-md-auto">username : </label>
          <input class="col-sm-6 form-control" type="text" width="30" formControlName="userName"/>
        </div>
        <div class="row justify-content-center form-group">
          <label class="col-md-auto">password : </label>
          <input class="col-sm-6 form-control" type="password" formControlName="password" width="30" />
        </div>
        <div class="row justify-content-center form-group">
          <button type="submit" class="col-2 btn btn-primary">login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row my-5 justify-content-center signup">
    <div class="col-auto px-5 py-2 col-sm-8 col-lg-4 col-md-6 login border shadow">
      <div class="row justify-content-center">
        <span class="font-weight-bold">Sign Up As</span>
      </div>
      <div class="row justify-content-center">
        <button class="col-auto btn btn-success my-2 mx-3" (click)='goToCustomerCreation()'>Customer</button>
        <button class="col-auto btn btn-success my-2 mx-3" (click)='goToRestaurantCreation()'>Restaurant</button>
      </div>
    </div>
  </div>
</div>
