<div class="container">
  <div class="row justify-content-around w-100, h-25">
    <div class="px-5 py-5 col">
      <div class="row justify-content-center form-group">
        <div class="h2 col-2">Login</div>
      </div>
      <form>
        <div class="row justify-content-center form-group">
          <label class="col-sm-3">user name : </label>
          <input class="col-sm-3 form-control" type="text" width="30" />
        </div>
        <div class="row justify-content-center form-group">
          <label class="col-sm-3">password : </label>
          <input class="col-sm-3 form-control" type="password" width="30" />
        </div>
        <div class="row justify-content-center form-group">
          <button class="col-2 btn btn-primary">login</button>
        </div>
      </form>
    </div>
  </div>
</div>
