<div class="container login">
  <div class="row justify-content-center">
    <div class="border align-self-center px-5 py-5 col-sm- 10 col-xl-6 col-lg-7 col-md-9">
      <div class="row justify-content-center form-group">
        <div class="h2 col-2">Login</div>
      </div>
      <form>
        <div class="row justify-content-center form-group">
          <label class="col-md-auto">username : </label>
          <input class="col-sm-6 form-control" type="text" width="30" />
        </div>
        <div class="row justify-content-center form-group">
          <label class="col-md-auto">password : </label>
          <input class="col-sm-6 form-control" type="password" width="30" />
        </div>
        <div class="row justify-content-center form-group">
          <button type="button" class="col-2 btn btn-primary" (click)="login()">login</button>
        </div>
      </form>
    </div>
  </div>
</div>
