<div class="restaurant container">
  <div class="resimage row align-items-end" [ngStyle]='{background: "url("+temp+")"}'>
    <div class='col temp h2 '>
      <span class="res_name font-weight-bold">{{name | titlecase}}</span>
    </div>
    <div class='col-auto h5'>
      <div class="res_type">
        <img calss='image_type' width="25px" height="25px" [attr.src]="type == 'VEG' ? imageVeg : type == 'NON_VEG' ? imageNonVeg : null" />
        <span class='text-white font-italic'>{{type | titlecase}}</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-between px-3 py-3">
    <div class="col-sm-6 res_address px-5 py-2 rounded-lg ">
      <p class='row'>{{address.address1}}, {{address.address2}}</p>
      <p class='row'>{{address.landmark}}, {{address.city}}</p>
      <p class="row">{{address.state}} - {{address.postalCode}}</p>
    </div>
    <div class="col-auto align-self-center">
      <div class="row align-items-start py-3">
        <div class="col font-italic">{{isAvailable | titlecase}}</div>
      </div>
      <div class="row align-items-end py-3">
        <div class="col btn btn-dark">Book Seats</div>
      </div>
    </div>
  </div>
  <div class="row py-3 justify-content-between">
    <div class="col h3 text-dark font-weight-light">Foods</div>
    <div *ngIf="session.userLevel == 'RESTAURANT'" class="col-auto btn btn-dark" (click)='goToModifyFoods()'>Modify Foods</div>
  </div>
  <div class="food_list_component">
    <app-food-list (checkoutOrder)='checkout($event)' [foodList]='foods' [isAvailable]='isAvailable' [isEdit]='false' [isCheckout]='true'></app-food-list>
  </div>
</div>
