<div class="container Orders_page">
  <div class="orders_list">
    <div class="row list_title">
      <p class="h3 align-content-center text-dark">Orders</p>
    </div>
    <div class="row menu align-items-center justify-content-center">
      <div class="col-sm-auto" (click)='getNew()'>New</div>
      <div class="col-sm-auto" (click)='getLive()'>Live</div>
      <div class='col-sm-auto' (click)='getHistory()'>History</div>
    </div>
    <div class="list_body row justify-content-center">
      <div class="list_item col-md-8 border rounded-lg " *ngFor="let order of orders">
        <div class="col item_box justify-content-between">
          <p class="float-left text-secondary">Order Id: #{{order.id}}</p>
          <div class="float-right food_status">
            <select class="form-control" (change)='changeOrderStatus(order, $event.target.value)' [(ngModel)]="statusTracker[order.id+'']">
              <option *ngFor="let option of foodStatusOption" [attr.value]="option">{{option}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
