.address {
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-left: 5px solid gray !important;
}

.delete {
  display: none;
}

.address:hover {
  /* box-shadow: -5px 0px grey; */
}

.address:hover .delete {
  display: block;
}

.selected {
  box-shadow: 5px 5px green;
}
